.orbit-container .orbit-slides-container img{
  width: 100% !important;
  max-width:none !important;
}

@media #{$large-up} {
  .l-orbit{
    position: absolute;
    z-index: 98;
    top: 0px;
    width: 100%;
    height: 550px;
  }
}