// Non-modular or client styles for .l-header region.

.l-alert{
  position: relative;

  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
}
@media #{$medium-up} {
  .l-alert{
    background: rgb(105, 143, 186);
  }
}

@media #{$large-up} {
  .l-logo{
    z-index: 98;
    position: absolute;
    top: 12%;
    left: 56%;
    font-size: 18rem;
    a{
      color:rgb(238, 64, 36);
    }
    a:hover{
      color:rgba(238, 64, 36, 0.7);
    }
  }

  .l-alert{
    z-index: 98;
    position: absolute;
    top: 15%;
    left: 16%;
    background: rgba(245,245,245,0.5);



  }
}
