// Non-modular or client styles for the .l-content region.
.main {
  padding-top: 1rem;
}

.l-middle{
  padding: 3rem 0;
  background: #fcfff4; /* Old browsers */
}

.block-views-periodistas-asesinados-block-1{

  h4{
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  p{
    font-size: 0.7rem;
  }

  a {
    color:#000000;
    @include transition(color, .5s, ease-in);
  }

  a:hover{
    color: $orange-logo;
  }

  .views-row{
    border-bottom: dotted 1px #808080 ;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    strong{
      color: darkred;
    }

  }

  .links {

    a{
      background: $orange-logo;
      padding: 10px;
      border-radius: 25px;
      color: white;
      @include transition(color, .5s, ease-in);
    }

    a:hover{
      background: $blue-clibre;
    }

  }

}

.block-views-periodistas-asesinados-block{

  .views-column{
    margin-bottom: 0.5rem;
    overflow: hidden;

    .views-field-title{
      padding: 0.3rem;
      font-size: 0.8rem;
      text-align: center;

      a{
        color: $orange-logo;
      }

    }

  }

  a{
    img{
      width: 100%;
    }
  }
}


.l-callin{
  padding-top: 4rem;
  background: url("../images/slide1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  blockquote{
    border: none;
    background: rgba(245,245,245,0.5);
    color: whitesmoke;
    text-shadow: 2px 2px 2px #000;
  }
}


@media #{$medium-up} {

}

@media #{$large-up} {
  .l-middle{
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(left,  #fcfff4 44%, #e0e2e0 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(44%,#fcfff4), color-stop(66%,#e0e2e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #fcfff4 44%,#e0e2e0 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #fcfff4 44%,#e0e2e0 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #fcfff4 44%,#e0e2e0 66%); /* IE10+ */
    background: linear-gradient(to right,  #fcfff4 44%,#e0e2e0 66%); /* W3C */
  }
}