// Non-modular or client styles for asides or sidebars.

#page-title{
  border-bottom: 1px solid;
}

#cboxContent {
  article, .group-content{
    padding: 1rem 2rem;
    .field-name-field--alerta-main-image, .field-name-field-slider-image{
      display: inline;
      float: left;
      margin: 5px 10px 10px 0;
    }
  }
}

.view-taxonomy-tipos-de-alerta {
  .views-column {
    clear: both;
  }
  article{
    clear: both;
    margin-bottom: 1.5rem;
    .field-name-field--alerta-main-image {
      display: inline;
      float: left;
      margin: 5px 10px 10px 0;
    }
  }
}

.views-row {
  border-bottom: 1px dotted;
  display: table;
  .warp{
    .views-field-title{
    clear: both;
  }

  .views-field-field--alerta-main-image {
    display: inline;
    float: left;
    margin: 5px 10px 10px 0;
   }
  }
}
