// Non-modular or client styles for asides or sidebars.

#page-title{
  border-bottom: 1px solid;
}

#cboxContent {
  article, .group-content{
    padding: 1rem 2rem;
    .field-name-field--alerta-main-image, .field-name-field-slider-image{
      display: inline;
      float: left;
      margin: 5px 10px 10px 0;
    }
  }
}

article{
  clear: both;
  margin-bottom: 1.5rem;
}

